#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
~$*
*.orig

#ignore folders build by Visual Studio
obj
bin
packages
_bin_deployableAssemblies

#ignore archives
*.zip
*.rar

#project specific
src/node_modules
src/dist
src/.tmp
src/bower_components
src/App/styles/main.css
src/App/styles/*.css
src/App/styles/*.map
src/coverage/
/src/App/fonts
src/.grunt
src/.ftppass
src/app/index.html
src/app/terms-of-use.html
src/app/faq.html
