---
title: GitCheese - FAQ
---
<div id="faq" class="wow-section">
  <div class="container">
    <div class="wow-section-title text-center wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
      <img class="img-responsive" src="images/icons/t2.png" alt="" />
      <h1>Frequently Asked Questions</h1>
    </div>
    <ol>
      <li>
        <h2>Do I have to use GitHub?</h2>
        <p>For now, yes. We use the GitHub API to authenticate you and your project. This allows you to organize your many projects as many accounts if you so desired</p>
      </li>
      <li>
        <h2>Can I use Gitcheese anywhere else?</h2>
        <p>Yes! Embed your Badge on your personal website and pledges will still be directed to you.</p>
      </li>
      <li>
        <h2>Can I help support Gitcheese?</h2>
        <p>Yes! You can pledge to our <a href="#">Gitcheese</a> repo or by clicking this Badge:</p>
        <img src="images/icons/t2.png" alt="Support Gitcheese!"/>
      </li>
      <li>
        <h2>What is your favorite cheese?</h2>
        <p>We get this a lot more than you would suspect and there is still no consensus...</p>
        <ul>
          <li><p>Maciej is from Poland and likes soft cheese and smoked cheese</p></li>
          <li><p>Pedro is from Colombia and likes fresh cheese, occasionally even making mozzerella at home</p></li>
          <li><p>Mark is from boring Oklahoma and likes aged swiss on a turkey sandwich</p></li>
        </ul>
      </li>  
    </ol>
  </div>
</div>
