--- title: GitCheese ---
<div id="whatsit" class="padding wow-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
        <img class="img-responsive" src="images/mockup/whatsit.png" alt="">
      </div>
      <div class="col-sm-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.20s">
        <div class="whatsit">
          <h1>What is Gitcheese</h1>
          <h2>Gitcheese is simple way to tip open source developers!</h2>
          <p>We believe that software should be free (as in free speech) but that doesn’t mean there is not a place for tips! And who hasn’t wanted to tip another developer some cheese for having an awesome solution. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="whats-special" class="padding wow-section wow-section-info">
  <div class="container">
    <div class="text-center wow-section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
      <img class="img-responsive" src="images/icons/t1.png" />
      <h1>How does it Work</h1>
    </div>
    <div class="special-features">
      <div class="row">
        <div class="col-sm-3 special-content text-right wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
          <h2>For Developers</h2>
          <p>Get your Cheesy Cat badge by logging in with your github account, add the badge in your readme files and wait for tips - simple as that! You will be notified about pending tips to collect.</p>
        </div>
        <div class="col-sm-3">
          <div class="special-image wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <img class="img-responsive img-rounded" src="images/mockup/github-badge.png" alt="Donate badge on GitHub page">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="special-image wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
            <img class="img-responsive img-rounded" src="images/mockup/pledge-page.png" alt="Donation page">
          </div>
        </div>
        <div class="col-sm-3 special-content text-left wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
          <h2>For Supporters</h2>
          <p>Clicking the Cheesy Cat badge will take you to the repository pledge page. Enter your payment information and you are done - you just sent someone some cheese money!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features" class="padding wow-section">
  <div class="container">
    <div class="text-center wow-section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
      <img class="img-responsive" src="images/icons/t4.png" />
      <h1>Why Gitcheese</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
        <img class="img-responsive img-gray" src="images/icons/b1.png" />
        <div class="caption text-center">
          <h2>Super Fast</h2>
          <p>Pledging doesn't require an account, they just need a valid credit or debit card.</p>
        </div>
      </div>
      <div class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <img class="img-responsive img-gray" src="images/icons/b2.png" />
        <div class="caption text-center">
          <h2>Easy for Developers</h2>
          <p>Login with your GitHub account, no extra passwords to remember. We will let you know when your pledge arrives.</p>
        </div>
      </div>
      <div class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
        <img class="img-responsive img-gray" src="images/icons/b3.png" alt="Open Sources - Transparent" />
        <div class="caption text-center">
          <h2>Open is better</h2>
          <p>Nothing is more frustrating to developers than smoke and mirrors so we are getting rid of magic. We will share regular updates about how much cheese is being shared.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <img class="img-responsive img-gray" src="images/icons/b5.png" />
        <div class="caption text-center">
          <h2>Secure</h2>
          <p>We don't store your personal information; the transation ends when the payment is made.</p>
        </div>
      </div>
      <div class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
        <img class="img-responsive img-gray" src="images/icons/b6.png" />
        <div class="caption text-center">
          <h2>Free as in Speech</h2>
          <p>We are not charging anyone anything! There is still a payment processing fee but if we could remove that we would.</p>
        </div>
      </div>
      <div class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
        <img class="img-responsive img-gray" src="images/icons/b7.png"/>
        <div class="caption text-center">
          <h2>Passion</h2>
          <p>We are a small 3 man team of big brains and even bigger hearts! We love software and want to contribute to keeping it free.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="badge" class="padding wow-section wow-section-info">
  <div class="container text-center">
    <div class="wow-section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
      <img class="img-responsive" src="images/icons/feed-the-cat.png" />
      <h1>The Cat is Hungry!</h1>
      <div class="git-badge">
        <img class="img-responsive" src="images/git-cheese-badge.svg" alt="Get Gitcheese Donate Badge For Your Github Repository">
      </div>
      <a class="btn btn-lg btn-primary btn-ghost" href="/app">Get Yourself The Badge</a>
    </div>
  </div>
</div>

<div id="team" class="padding wow-section">
  <div class="container text-center">
    <div class="wow-section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
      <img class="img-responsive img-gray" src="images/icons/t8.png" />
      <h1>Who We Are</h1>
      <p>We are three passionate developers who became friends through software. We all believe in Open Source software and in the power of community; If we all can find a way to work together we can improve the world (with cheese).</p>
    </div>
    <div itemscope itemtype="http://schema.org/Person" class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless thumbnail-ghost-caption wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
      <img class="img-rounded img-responsive" src="images/team_mgibas.jpg" />
      <div class="caption">
        <h2 itemprop="name">Maciej Gibas</h2>
        <p>Founder</p>
        <blockquote>
          <p>Eat cheese</p>
        </blockquote>
      </div>
    </div>
    <div itemscope itemtype="http://schema.org/Person" class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless thumbnail-ghost-caption wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
      <img class="img-rounded img-responsive" src="images/team_pdiaz.jpg" />
      <div class="caption">
        <h2 itemprop="name">Pedro Diaz-Vargas</h2>
        <p>Founder</p>
        <blockquote>
          <p>A way to contribute to a project and keep the gears moving.</p>
        </blockquote>
      </div>
    </div>
    <div itemscope itemtype="http://schema.org/Person" class="col-sm-4 thumbnail thumbnail-default thumbnail-frameless thumbnail-ghost-caption wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
      <img class="img-rounded img-responsive" src="images/team_moelke.jpg" />
      <div class="caption">
        <h2 itemprop="name">Mark Oelke</h2>
        <p>Founder</p>
        <blockquote>
          <p>Meoooowww... - Nina, my cat, says Hello!</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div id="price" class="padding wow-section wow-section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow slideInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
        <img class="img-responsive" src="images/mockup/mockup.png" >
      </div>
      <div class="col-sm-6">
        <div class="wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
          <h1>Free as in Speech</h1>
          <h2>What do we mean by Free</h2>
          <p>Exactly like it sounds: Free as in Speech! There is a small cost for processing the payments which we cannot avoid (see terms for exact numbers) but we are not currently taking any money from the tip pledges. As an example: a $5 tip pledge will
            give $4.55 to a happy developer (91%).</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="padding wow-section">
  <div class="container text-center">
    <div class="wow-section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
      <img class="img-responsive" src="images/icons/t10.png" />
      <h1>Have a Question?</h1>
      <h2>Send us a Message!</h2>
    </div>
    <h1 class="breakable">gitcheese@gitcheese.com</h1>
  </div>
</div>
