---
title: GitCheese - Terms Of Use
---
<div id="termsofuse" class="wow-section">
  <div class="container">
    <div class="wow-section-title text-center wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
      <img class="img-responsive" src="images/icons/t2.png" alt="" />
      <h1>Terms Of Use</h1>
    </div>
    <ol>
      <li>
        <h2>Welcome to Gitcheese!</h2>
        <p>By using this website (the “Site”) and services (together with the Site, the “Services”) offered by Gitcheese you’re agreeing to these legally binding rules (the “Terms”).We may change these terms from time to time. If we do, we’ll let you know about any material changes, either by notifying you on the Site or by sending you an email. New versions of the terms will never apply retroactively — we’ll tell you the exact date they go into effect. If you keep using Gitcheese after a change, that means you accept the new terms.</p>
      </li>
      <li>
        <h2>Creating an Account</h2>
        <p>To start using this Site you’ll need to register using your GitHub account. You’re responsible for all the activity on your account and for keeping your authorization data confidential. As a part of an account you can modify your profile picture (public) - don’t use any offensive or violent picture. If you don’t follow these rules, we may cancel your account. To sign up for an account, you need to be at least 18 years old or old enough to form a binding contract where you live. If necessary, we may ask you for proof of age. You’re responsible for your account and all the activity on it. As for now we are limited by the 3rd party payment processing system (Stripe) only to countries that are coverred by this system.</p>
        <p>As a project owner you will be able to make payout only when you/your business is located in one of those countries:</p>
        <ul>
          <li>Australia </li>
          <li>Canada </li>
          <li>Denmark </li>
          <li>Finland </li>
          <li>Ireland </li>
          <li>Norway </li>
          <li>Sweden </li>
          <li>United Kingdom </li>
          <li>United States </li>
          <li>Austria </li>
          <li>Belgium </li>
          <li>France </li>
          <li>Germany </li>
          <li>Italy </li>
          <li>Japan </li>
          <li>Luxembourg </li>
          <li>Netherlands </li>
          <li> Spain </li>
        </ul>
        <p>You can get more details at <a href="https://stripe.com/global">https://stripe.com/global</a></p>
      </li>
      <li>
        <h2>Things You Definitely Shouldn’t Do</h2>
        <p>Don’t try to do any illegal activities (ie. fraudulent activites). Don’t try to interfere with the proper workings of the Services. Don’t bypass any measures we’ve put in place to secure the Services. Don’t try to damage or get unauthorized access to any system, data, password, or other information, whether it belongs to Gitcheese or another party. Don’t take any action that imposes an unreasonable load on our infrastructure, or on our third-party providers (We reserve the right to determine what’s reasonable). Don’t use any kind of software or device (whether it’s manual or automated) to “crawl” or “spider” any part of the Site. Don’t take apart or reverse engineer any aspect of Gitcheese in an effort to access things like source code, underlying ideas, or algorithms.</p>
      </li>
      <li>
        <h2>How Pledging Works</h2>
        <ul>
          <li>
            <h3>Making a Pledge</h3>
            <p>These are the terms that apply when you’re pledging a project: Pledge is a act of good will. We can not and do not guarantee that you’ll get anything back beside satisfaction that you supported open-sourced project. The Pledges should be charged immediately. Every pledge is reduced by payment service fees. To make online payments possible we use a 3rd party online payments services (Stripe) and each trasaction comes with <a href="https://stripe.com/us/pricing">service fees</a>. Gitcheese doesn’t offer refunds. Gitcheese reserves the right to deny any pledge. Cause of protection of our users and card owners, we reserves right to deny pledge if we consider it as fraudulent.</p>
          </li>
          <li>
            <h3>Project Owners</h3> 
            <p>These are the terms that apply when you’re project owner: Some pledges can’t be collected, which might reduce the amount of funding you get. Because some payments can’t be collected — for instance, when a backer’s credit card expires before funding ends, and they don’t provide updated information — we can’t guarantee that the amount of funding you receive will be exactly equal to the full amount pledged minus fees. We will need to verify your account before making a payout. For legal reasons (depends on your country) we will need to get all necessary information (ie. address, SSN) to activate your account and before you can begin collecting your pledges. Data you provide are validated by 3rd payment system (Stripe) and for any reason payments system will not activate your account we can't guarantee making a pay out of your collected pledges. On top of each pledged transaction, the 3rd party payment system takes a <a href="https://stripe.com/us/pricing">service fee</a> which will be substracted from the pledged amount. To minimize our risk, we hold pay outs for 30 days to avoid fraud. Pay outs are made only if your account is activated and verified. Pledged amounts may vary from actual pay outs in cases of fraud, and we will substract loses from your project pledges only as a last resort. We put a lot of effort to minimalize risk of fraud for all parties, but in some cases we will not be able to get disputed pledges back. You should not pledge to your own projects; you will lose some of your own money to the payment service fees and these types of transaction are treated as fraudulent and we reserve rights to deny it. Payment processing services for Gitcheese are provided by Stripe and are subject to the Stripe Connected Account Agreement, which includes the Stripe Terms of Service (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to use Gitcheese you agree to be bound by the Stripe Services Agreement, which may be modified by Stripe from time to time. As a condition of Gitcheese, enabling payment processing services through Stripe, you agree to provide Gitcheese accurate and complete information about you and your business, and you authorize Gitcheese to share your information and transaction information related to your use of the payment processing services provided by Stripe.</p>
          </li>
        </ul>
      </li>
      <li>
        <h2>Stuff We Don’t Do and Aren’t Responsible For</h2>
        <p>Gitcheese isn’t liable for any damages or losses related to your use of the Services. We don’t become involved in disputes between users or between users and any third party relating to the use of the Services. When you use the Services you release Gitcheese from claims, damages, and demands of every kind — known or unknown, suspected or unsuspected, disclosed or undisclosed — arising out of or in any way related to such disputes and the Services. All content you access through the Services is at your own risk. You’re solely responsible for any resulting damage or loss to any party. Gitcheese does not enforce any promise or guarantee made by project owners and is not responsible for any project or its livelyhood or longevity.</p>
      </li>
      <li>
        <h2>Our Fees</h2>
        <p>Gitcheese does not currently take any fees. We are planning to offer our Site and Service for free until the end of 2016. You’re responsible for paying any additional fees or taxes associated with your use of Gitcheese. If you would like to support us, you can send us a Pledge.</p>
      </li>
      <li>
        <h2>Ending Your Account</h2>
        <p>You can terminate your account at any time by sending us email at <a href="mailto:gitcheese@gitcheese.com">gitcheese@gitcheese.com</a>. All provisions of this agreement survive termination of an account, including our rights regarding any content you’ve already submitted to the Site.</p>
      </li>
      <li>
        <h2>Our Rights</h2>
        <p>Gitcheese reserves these rights: We can make changes to the Gitcheese Site and Services without notice or liability. We have the right to decide who’s eligible to use Gitcheese. We can cancel accounts or decline to offer our Services (ie if we feel you are abusing them). We can change our eligibility criteria at any time. If these things are prohibited by law where you live, then we revoke your right to use Gitcheese in that jurisdiction. We have the right to cancel any pledge to any project, at any time and for any reason. We have the right to reject, cancel, interrupt, remove, or suspend any project's pledges at any time and for any reason. Gitcheese is not liable for any damages as a result of any of these actions, and it is our policy not to comment on the reasons for any such action.</p>
      </li>
      <li>
        <h2>Warranty Disclaimer</h2>
        <p>You use our Services solely at your own risk. They are provided to you “as is” and “as available” and without warranty of any kind, expressed or implied.</p>
      </li>
      <li>
        <h2>Indemnification</h2>
        <p>If you do something that gets us sued, or break any of the promises you make in this agreement, you agree to defend, indemnify, and hold us harmless from all liabilities, claims, and expenses (including reasonable attorneys’ fees and other legal costs) that arise from or relate to your use or misuse of Gitcheese. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to this indemnification clause, in which case you agree that you’ll cooperate and help us in asserting any defenses.</p>
      </li>
      <li>
        <h2>Limitation of Liability</h2>
        <p>To the fullest extent permitted by law, in no event will Gitcheese, its directors, employees, partners, suppliers, or content providers be liable for any indirect, incidental, punitive, consequential, special, or exemplary damages of any kind, including but not limited to damages:</p>
        <ul>
          <li>(i) resulting from your access to, use of, or inability to access or use the Services;</li>
          <li>(ii) for any lost profits, data loss, or cost of procurement or substitute goods or services;</li>
          <li>(iii) for any conduct of content of any third party on the Site.</li>
          </ul>
        <p>In no event shall Gitcheese’s liability for direct damages be in excess of (in the aggregate) one hundred U.S. dollars ($100.00).</p>
      </li>
    </ol>
  </div>
</div>
